<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#{{ site.faded-accent-color }}"/>

    <!-- seo -->
    {% seo %}

    <!-- css -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- icons -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- animation dependency's -->
    <script defer src="https://unpkg.com/@barba/core"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script> -->
    <!-- animation scripts -->
    <!-- <script defer src="{{ "/assets/js/animations/pageFirstLoad.js?v=" | append: site.github.build_revision | relative_url }}"></script> -->
    <!-- <script defer type="module" src="{{ "/assets/js/animations/SlideOnVeiwportEnter.js?v=" | append: site.github.build_revision | relative_url }}"></script> -->
    <script defer type="module" src="{{ "/assets/js/animations/barba.js?v=" | append: site.github.build_revision | relative_url }}"></script>
    <script defer type="module" src="{{ "/assets/js/main.js?v=" | append: site.github.build_revision | relative_url }}"></script>

    <!-- other scripts -->
    <script defer async src="{{ "/assets/js/google-anylytics.js?v=" | append: site.github.build_revision | relative_url }}"></script>

    <!-- You can set your favicon here -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/icons/180.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/icons/180.png' | relative_url }}">
    <link defer rel="manifest" href="{{ "/assets/manifest.json?v=" | append: site.github.build_revision | relative_url }}">

    <!-- csp -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none'; script-src 'self'; "> -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
