<!-- sidebar -->
<!-- <ul id="slide-out nav-mobile" class="sidenav sidenav-fixed"> -->
    <!-- title -->
    <!-- <h3> -->
      <!-- <img alt="some random image" loading="lazy" class="profile-picture" src="" /> -->
      <!-- Title -->
    <!-- </h3> -->
    <!-- <p>Some description</p> -->

    <!-- pages -->
    <!-- <h4>Pages</h4> -->
    <!-- <li> -->
      <!-- <a href="/some page" class="waves-effect"><i class="material-icons"> help </i> Some Page </a> -->
      <!-- <a href="/another page" class="waves-effect"><i class="material-icons"> help </i> Another Page </a> -->
    <!-- </li> -->
  <!-- </ul> -->
  
  <!-- sidebar trigger -->
  <!-- <a data-target="slide-out" class="sidenav-trigger btn-floating btn-large waves-effect waves-light hide-on-large-only"><i class="material-icons">menu</i></a> -->