<!--put your custom sidebar in here-->

<!--

<a data-target="nav-mobile" class="sidenav-trigger btn-floating btn-large waves-effect waves-light hide-on-large-only"><i class="material-icons">menu</i></a>

<ul id="nav-mobile" class="sidenav sidenav-fixed">
    <h3>
      <img alt="Some alt" loading="lazy" class="profile-picture" src="/profile-picture" />
      Some title
    </h3>
    <p>Some subheading</p>
    
    <h4>Pages</h4>
    <li><a href="/page-a" class="waves-effect closeSidenavs"><i class="material-icons"> home </i> Page A </a></li>
    <li><a href="/page-b" class="waves-effect closeSidenavs"><img src="/icons/page-b.png" }}" alt="some alt" class="invert-on-dark">Page B</a></li>
  </ul>

-->