//alignment 1 (padded evenly on both sides with max width)
p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
small,
li,
blockquote,
.language-plaintext, //a code block
.alignment-1 {
  max-width: 500px;
  margin: 0 auto;
  width: calc(100% - 10px);
}

//alignment 2 (centered without size restricrions)
img,
.alignment-2 {
  text-align: center;
  margin: auto;
  max-width: 100%;
}
.alignment-2 > * {
  text-align: left;
}

