/*
= SINGLE LINE CODE BLOCKS STRUCTURE =
 - code
 | - span.nt "part of code"
 | - span.o "code part 2"
 | - span.err "part code number 3"
 | - span.nt "text"

= MULTILINE CODE BLOCKS STRUCTURE =
 - .highlight-rough.language-plaintext
 | - .highlight
 | | - pre.highlight
 | | | - code
 | | | | - span.nt "part of code"
 | | | | - span.o "code part 2"
 | | | | - span.err "part code number 3"
 | | | | - span.nt "text"
*/

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  padding: 8px 15px;
  background: #e3e3e3;
  border-radius: 5px;
}

pre.highlight > code {
  display: block;
  overflow-x: auto;

  &::after {
    content: attr(language);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    color: rgba(240, 240, 240, 0.3);
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

//colors
$foreground-dimmed: transparentize($foreground, 0.7);

$syntax-red: #e65c5c;
$syntax-orange: #e6955c;
$syntax-yellow: #e6da5c;
$syntax-green: #5ce65c;
$syntax-cyan: #5ce6e6;
$syntax-blue: #5c8ae6;
$syntax-purple: #835ce6;
$syntax-pink: #e65ce6;

code {
  .go { color: $foreground-dimmed; }
  .gd, .err { color: $syntax-red; }
  .k, .o, .cp, .kc, .kn, .kp, .kr, .nt, .ow { color: $syntax-orange; }
  .na, .nc, .nf, .fm { color: $syntax-yellow; }
  .hll, .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color: $syntax-green; }
  .m, .mb, .mf, .mh, .mi, .mo, .il { color: $syntax-cyan; }
  .c, .ch, .cm, .cpf, .c1, .cs { color: $syntax-blue; }
  .n + .p + .n, .kd, .kt, .nb, .nl, .nv, .vc, .vg, .vi, .vm { color: $syntax-purple; }
  .kd, .nb, .nl, .nv, .vc, .vg, .vi, .vm { font-style: italic; }
  .gh, .gi, .gu { font-weight: bold; }
  .ge { text-decoration: underline; }
  .bp { font-style: italic; }
}
