/*
H -> hue
L -> luminosity
S -> saturation
clr -> color
bg -> background
hvr -> hover
*/

//colors
:root {
    //red
    --code-d14:    #d14;
    --code-aa0000: #aa0000;
    --code-990000: #990000;
    //cyan
    --code-009999: #009999;
    --code-008080: #008080;
    --code-3c5d5d: #3c5d5d;
    //green
    --code-009926: #009926;
    //pink
    --code-990073: #990073;
    --code-800080: #800080;
    //purple
    --code-445588: #445588;
    //blue
    --code-000080: #000080;
    //grey
    --code-aaaaaa: #aaaaaa;
    --code-999999: #999999;
    --code-888888: #888888;
    --code-555555: #555555;
}