html {
  scroll-behavior: smooth;
}
  
//an image inside any form of text should be the same size as the text
a  > img,
h1 > img,
h2 > img,
h3 > img,
h4 > img,
h5 > img,
h6 > img,
p  > img,
a  > i,
h1 > i,
h2 > i,
h3 > i,
h4 > i,
h5 > i,
h6 > i,
p  > i {
  height: 1em;
  width: 1em;
  margin-right: 5px;
}

.inherit-font-size {
  font-size: inherit !important;
}
  
//fix bad font weight on strong
strong {
  font-weight: bold;
}
  
//img alt text styles
img {
  font: italic 200 1em Georgia, serif;
}

.circle {
border-radius: 999px;
}

.center-text {
  text-align: center;
}

a {
  color: #0074ad;
}

*:not(body) {
  --y-trans: 0;
  --x-trans: 0;//in case you set one variable but not the other the whole statement becomes invalid and doesnt work
  transform: translateX(var(--x-trans)) translateY(var(--y-trans));
}