---
---

:root {
    --accent-clr: #{{ site.accent-color }};
    --sidenav-width: 0px; /* revert width in case sidenav-width is not defined in config*/
    --sidenav-width: {{ site.sidenav-width }};
}

{% if site.custom-alignment == true %}
    @import "alignment"
{% endif %}

@import "styles.scss";