---
layout: default
title: "posts"
---

<!-- posts -->
<small class="display-block">{{ page.date | date: "%-d %B %Y" }}</small>
<h5>{{ page.type}}</h5>
{% if page.tags %}
  <div class="alignment-1"><span class="tag">{{ page.uiTags | join: "</span> <span class="tag">" }}</span></small>
{% endif %}
<h1>{{ page.title }}</h1>

<img class="display-block" src="{{page.front-image}}"/>

{% case content %}
  {% when "", nil, false, 0, empty %}
    <p>This article is still being written.</p>
  {% else %}  
    {{content}}
{% endcase %}
