---
layout: default
title: "posts"
---

<!-- posts -->
<small class="display-block">{{ page.date | date: "%-d %B %Y" }}</small>
<h5>{{ page.type}}</h5>
<h1>{{ page.title }}</h1>

<img class="display-block" src="{{page.front-image}}"/>

{% case content %}
  {% when "", nil, false, 0, empty %}
    <p>This article is still being written.</p>
  {% else %}  
    {{content}}
{% endcase %}

{% if page.tags %}
  <small class="display-block">tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}